

.container{
    margin: 20px;
    display: grid;
    grid-template-columns: 30% 68%;
    grid-template-rows: 860px 860px;
    gap: 20px;
}
.grid1{
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: slategray;
}
.grid2{
    border-radius: 20px;
    background-color: skyblue;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 576px){
    .container{
        grid-template-columns: 100%;
        
    }
}